
body {
  background: url('resources/1.jpg') no-repeat center center fixed;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  color: #ffffff;
  font-family: Arial, sans-serif;
}



.practical-button {
  background-color: #f0f0f0;
  color: #333;
  border: 2px solid #8b0000;
  padding: 15px 30px;
  font-size: 18px;
}




header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

h1,
h2,
h3 {
  color: #DC143C;
}
h1{text-align: center;}
button {
  background-color: #DC143C;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #DC143C;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: transparent;
    padding: 10px;
    text-align: center;
}




table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #be3c59;
}
td {
  background-color: #ffffff;
  color: #333;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Optional: Style for required fields */
input:required,
select:required {
  border-color: #ff6666;
}

/* Optional: Style for error message */
input:invalid,
select:invalid {
  border-color: #ff6666;
}